.header{
	background-color:black;
	height:30px;
	width:100%;	
	border-radius:5px;
}

.header-list li{
	list-style-type: none;
	display:inline;
	color:white;
	padding-right: 30px;
}

.header-list a{
	color:white;
	text-decoration: none;
}

.pane-header{
	margin-top:10px;
	padding-left: 10px;
	background-color: #b4b4b4;
}

#panal--chgnick{
	float:right;
	padding-right:10px;
}
.pane{
	border:1px solid black;
	height:70%;
	margin-top:10px;
}

.pane-left{
	border-right:1px dashed black;
	height:100%;
}

.pane-left li{
	padding-left:10px;
	height:20px;
	background-color: #8de092;
	margin-bottom:2px;
	border-radius: 5px;	
	width:80%;
}

.pane-right{

	height:100%;
		overflow:auto;
}

.title-bar{
	float:none;
	margin:0 auto;
	font-weight:bold; 
	border-bottom:1px solid black
}
#ChatContainer{
	overflow:auto;
}

#ChatPane li{
	padding-left:10px;
	padding-right:10px;
	border-radius:7px;
	list-style-type:none;
	margin-bottom:2px;
}


#ChatPane li span{
	padding-left:10px;
	padding-right:10px;
	background-color: #e6f2ff;
	border-radius:7px;
	list-style-type:none;
	display:inline-block ;
	margin-bottom:2px;
}

.active-pane{
	height:auto;
	padding:5px;
	background-color: #e6f2ff;
}

.active-pane #chatInput{
	width:80%;
	height:60px;
}

.active-pane button{
	width:15%;

}

#submit{
	vertical-align: top;
	width:80px;
	height:60px;
}